<!DOCTYPE html>
<html lang="ko">
<header th:fragment="headerFragment">
  <nav id="nav_bar">
      <div>
        <a class="menu-trigger" href="#">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
      <div id="img_center">
        <a href="/"><img src="img/logo_transparent.jpg"></a>
      </div>
      <ul id="menu2" style="margin-right: 20px;">
        <li><a href="javascript:void(0);" onclick="login_Click()">로그인/회원가입</a></li>
      </ul>
      <ul id="menu">
        <li><a href="#">Memories</a></li>
        <li><a href="#">Save</a></li>
        <li><a href="#">Tech</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
  </nav>
  <div class="clear"></div>
  <nav id="sub_nav">
    <div class="sub_sort">
      <ul class="submenu" id="submenu1">
        <li><a href="stop_motion">스톱모션</a></li>
        <li><a href="thumbnail">썸네일</a></li>
        <li><a href="#">sub3</a></li>
        <li><a href="#">sub4</a></li>
      </ul>
      <ul class="submenu" id="submenu2">
        <li><a href="photo_management">사진관리</a></li>
        <li><a href="#">sub2</a></li>
        <li><a href="#">sub3</a></li>
        <li><a href="#">sub4</a></li>
      </ul>
      <ul class="submenu" id="submenu3">
        <li><a href="#">sub1</a></li>
        <li><a href="#">sub2</a></li>
        <li><a href="#">sub3</a></li>
        <li><a href="#">sub4</a></li>
      </ul>
      <ul class="submenu" id="submenu4">
        <li><a href="#">sub1</a></li>
        <li><a href="#">sub2</a></li>
        <li><a href="#">sub3</a></li>
        <li><a href="#">sub4</a></li>
      </ul>
    </div>
  </nav>
</header>
</html>
