<!DOCTYPE html>
<html lang="ko"
	layout:decorate="~{layout}">
<div layout:fragment="content">
    <article class="sub_menubar">
        <div id="sub_header">
            <div class="sub_header_menu">
                <a href="javascript:void(0);" sec:authorize="isAnonymous()" onclick="login_Click();"><h3>로그인/회원가입</h3></a>
            	<a href="javascript:void(0);" sec:authorize="isAuthenticated()" th:href="@{/user/logout}"><h3>로그아웃</h3></a>
            </div>
        </div>
        <div id="sub_main">
            <ul>
                <li><a href="#"><h2>Memories</h2></a></li>
                <li><a href="#"><h2>Save</h2></a></li>
                <li><a href="#"><h2>Tech</h2></a></li>
                <li><a href="#"><h2>About Us</h2></a></li>
            </ul>
        </div>
    </article>
    <div class="index_nav">
        <header>
        	<div th:replace="~{header :: headerFragment}"></div>
        </header>
        <main>
            <section id="main_nav">
                <div class="slidewrapper"> <!-- 슬라이드 시작 -->
                    <div class="pager">
                        <a href="#slide1" class="active"></a>
                        <a href="#slide2"></a>
                        <a href="#slide3"></a>
                    </div>
                    <ul class="slide_container">
                        <li class="slide" id="slide1">
                            <a th:href="@{/stop_motion}"><h2>사진을 스톱모션으로 볼 수 있다고!?</h2></a>
                        </li>
                        <li class="slide" id="slide2">
                            <a th:href="@{/thumbnail}"><h2>사진을 큰 화면으로 보자!</h2></a>
                        </li>
                        <li class="s  lide" id="slide3">
                            <a th:href="@{/film}"><h2>나만의 추억 관리</h2></a>
                        </li>
                    </ul>
                </div> <!-- 슬라이드 끝 -->
                <div class="main_btns">
                    <div class="Guidance_phrase"><h1>당신의 기억을 공유하세요.</h1></div>
                    <div class="btns" id="motion_blur"><a th:href="@{/stop_motion}"><h2>스톱모션</h2></a></div>
                    <div class="btns" id="thumbnail"><a th:href="@{/thumbnail}"><h2>썸네일</h2></a></div>
                    <div class="btns" id="photo_management"><a th:href="@{/film}"><h2>사진 관리</h2></a></div>
                </div>
                <div class="clear"></div>
                <!--  로그인 html  -->
                <login>
               	 	<div th:replace="~{login :: loginFragment}"></div> 
                </login>
                
            </section> 
        </main>
        <footer>
        	<div th:replace="~{footer :: footerFragment}"></div>
        </footer>
    </div>
</div>
</html>
<script src="js/header.js"></script>
<script src="js/slide.js"></script>
<script src="js/main.js"></script>
<script src="js/login.js"></script>