<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="loginFragment">
    <div class="background">
        <div class="window">
            <div id="form-container">
                <div id="form-inner-container">
                  <!-- Sign up form -->
                  <a href="javascript:void(0);" onclick="login_out()"><img class="close_btn" src="img/X-icon.png"></a>
                  <div id="sign-up-container">
                    <h3 style="margin-bottom: 15px;">회원가입</h3>
                    <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
                      
                      <label for="username">이름</label>
                      <input type="text" name="username" id="username" placeholder="이름">
          
                      <label for="email">이메일</label>
                      <input type="email" name="email" id="email" placeholder="이메일">
          
                      <label for="password">비밀번호</label>
                      <input type="password" name="password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
          
                      <div id="form-controls">
                        <button type="submit">Sign Up</button>
                        <button type="button" id="toggleSignIn">Sign In</button>
                      </div>
          
                      <input type="checkbox" name="terms" id="terms">
                      <label for="terms">이용약관 및 개인정보취급방침에 동의합니다.</label>
                    </form>
                  </div>
          
                  <!-- Sign in form -->
                  <div id="sign-in-container" class="hide">
                    <h3 style="margin-bottom: 15px;">로그인</h3>
                    <form th:action="@{/login}" method="post">
					  <div th:if="${param.error}">
				          <div style="color: red;">
				              사용자ID 또는 비밀번호를 확인해 주세요.
				          </div>
				      </div>	
							
					<!--    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/> -->	
							
                      <label for="username">이름</label>
                      <input type="text" name="username" id="username" placeholder="이름">
          
                      <label for="password">비밀번호</label>
                      <input type="password" name="password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
          
                      <div id="form-controls">
                        <button type="submit">Sign In</button>
                        <button type="button" id="toggleSignUp">Sign Up</button>
                      </div>
          
                      <input type="hidden" name="terms" id="terms">
                      <label for="terms"></label>
                    </form>
                  </div>
                </div>
            </div>
      	</div>
    </div>
</div>
</html>